<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/books/" method="post">
        <label for="title">Título</label>
        <input type="text" id="title" name="title">
        <label for="id">Id</label>
        <input type="text" id="id" name="id">
        <select name="authorId" id="authorId">
            <option value="1">Cervantes</option>
            <option value="2">Tolkien</option>
            <option value="3">García Márquez</option>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>