<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle Libro</title>
</head>
<body>
    <h1>Detalle Libro</h1>
    <h2 th:text="|${book.id} - ${book.title}|">Texto por defecto</h2>
    <h2 th:text="|${book.author.id}|">Texto por defecto</h2>
    <h2 th:text="|${book.author.name}|">Texto por defecto</h2>
</body>
</html>