@keyframes aparece {
    from {
        background-color: rgba(50,50,255,0);
        transform: rotate(0deg);
        width: 0em;
        height: 0em;
        margin: 10%;
    }
    to {
        background-color: rgba(50,50,255,1);
        transform: rotate(180deg);
        width: 10em;
        height: 15em;
        margin: 25% 45%;
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

.cuadrado {
    animation-name: aparece;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    color: aqua;
}

@keyframes rainbow {
    0% {
        background-color: red;
    }
    14% {background-color: orange;}
    28% {background-color: yellow;}
    42% {background-color: green;}
    56% {background-color: blue;}
    70% {background-color: indigo;}
    84% {background-color: violet;}
}

body {
    height: 100vh;
    width: 100vw;
    animation-name: rainbow;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}