<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>All Games</h1>
<ul>
    <li th:each="game : ${gameList}">
        <a th:href="@{/games/{game_code}(game_code=${game.game_code})}" th:text="${game.title}">Game Title</a>
    </li>
</ul>

<form th:action="@{/games}" method="post">
    <button type="submit">Submit</button>
    <br><br>
</form>
</body>
</html>