<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Document</title>
</head>
<body>
<h1>BeSport24 Library</h1>
<nav>
    <ul>
        <li><a th:href="@{/}">Índice</a></li>
        <li><a th:href="@{/about}">Sobre mí</a></li>
        <li><a th:href="@{/books}">Sobre mí</a></li>
    </ul>
</nav>

<section id="apartado1">
    <h1>Apartado 1</h1>
    <p>Contenido del apartado 1...</p>
</section>

<section id="apartado2">
    <h1>Apartado 2</h1>
    <p>Contenido del apartado 2...</p>
</section>

<section id="apartado3">
    <h1>Apartado 3</h1>
    <p>Contenido del apartado 3...</p>
</section>
</body>
</html>